@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    color: #3d3c3c;
}

input {
    color: #3d3c3c;
}

ol,
ul,
menu {
    list-style: initial;
}

.btn {
    @apply text-white inline-block py-2 px-5 rounded-full cursor-pointer;
    background-color: #0a404d;
    line-height: 2rem;
}

.btn-simple {
    @apply inline-block py-2 px-5 cursor-pointer;
    background-color: transparent;
}

.btn-simple:hover, .btn:hover {
    @apply underline;
}

.btn-outline {
    border: 1px solid #0a404d;
    color: #0a404d;
}

.bg-white {
    background-color: #ffffff;
}

.bg-off-white {
    background-color: #f7f8fa;
}

.bg-badge {
    background-color: #f4f2ea;
}

.bg-gold {
    background-color: #bcb597 !important;
}

.bg-gray {
    background: #f7f8fa;
}

.bg-brand-color,
.brand-color-bg {
    background-color: #0a404d;
}

.text-brand-color {
    color: #0a404d;
}

.star-icon-color {
    fill: #faaf00;
}

[data-modal] {
    background-color: rgba(10, 64, 77, 0.4666666667);
}

.loading-spinner {
    @apply w-8 h-8 border-4 border-white border-solid rounded-full animate-spin;
    border-color: #bababa;
    border-top-color: #0a404d;
}

#nav.scrolled {
    box-shadow: 0 1px 20px 9px rgba(0, 0, 0, 0.054);
    animation: shadow 0.6s ease-in-out;
}

#nav .nav-link {
    @apply hidden md:block text-brand-color text-sm px-4 py-2 place-self-center;
}

#nav .nav-link:hover {
    @apply underline;
}

#nav .nav-link.active {
    @apply font-semibold;
}

#slides {
    margin-top: 12px;
}
#slides img {
    border-radius: 10px;
    box-shadow: 0 1px 20px 9px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    #slides img {
        border-radius: 20px;
    }
}

.overflow-hidden {
    overflow: hidden;
}

svg {
    color: white;
}

.custom-grid-cols-2 {
    grid-template-columns: 1.3fr 2fr;
}

.custom-grid-cols-2-r {
    grid-template-columns: 2fr 1.3fr;
}

article .content {
    flex-basis: 40%;
    flex: 1;
}

article .img {
    flex-basis: 60%;
    flex: 2;
}

article .img img {
    margin: 0 auto;
    transform: scale(1.2);
}

/* ser breakpoint when screen is latge */
@media (min-width: 1440px) {
    .hero {
        background-position: 0 55%;
        background-size: 125%;
    }
}
.hWv4NA {
    width: 797.3px;
    height: 109.2px;
    margin-left: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30px) scale(0.7, 0.7);
    display: none;
    top: 55px;
}

@media (min-width: 768px) {
    .hWv4NA {
        display: block;
    }
}

@media (min-width: 1024px) {
    .hWv4NA {
        transform: translate(-50%, 0px) scale(0.9, 0.9);
    }
}

@media (min-width: 1200px) {
    .hWv4NA {
        transform: translate(-50%, 0px) scale(1.1, 1.1);
    }
}

#carousel #indicators button.bg-brand-color {
    background-color: #0a404d;
}

#carousel #indicators button:after {
    content: "";
    @apply absolute w-10 h-10 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.community:before,
.community::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    background-image: url(https://classermedia.com/assets/images/welcome/background-picture.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: -1465px -90px;
    display: none;
}

.community:before {
    left: -85px;
}

.community:after {
    left: calc(100% + 85px);
    transform: rotateY(180deg) translateX(100%);
}

@media (min-width: 768px) {
    .community:before,
    .community::after {
        display: block;
    }
}

@media (min-width: 1024px) {
    .community:after,
    .community:before {
        background-position: -1170px -0px;
    }
}

@media (min-width: 1280px) {
    .community:before,
    .community:after {
        background-position: -1125px -0px;
    }
}

@media (min-width: 1536px) {
    .community:before,
    .community:after {
        background-position: -1125px -0px;
    }
}

.bg-mountains {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 0;
    width: 100%;
    gap: 20%;
}

.bg-mountains.bottom {
    bottom: 0;
}
.bg-mountains.no-gap {
    gap: 0;
}
.bg-mountains.scale {
    transform: translate(-50%, 0px) scale(1.7, 1.7);
}

.bg-mountains .mountains {
    display: flex;
    align-items: flex-end;
}

.bg-mountains .mountains:nth-child(1) .triangle:not(:first-child) {
    margin-left: -215px;
}

.bg-mountains .mountains:nth-child(2) {
    transform: scaleX(-1);
}

.bg-mountains .mountains:nth-child(2) .triangle:not(:last-child) {
    margin-right: -215px;
}

.triangle {
    width: 470px;
    height: 400px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
}

.triangle {
    background: hsl(191, 77%, 12%);
}
.triangle.al {
    background: rgb(10, 55, 68);
}

.triangle.lg {
    width: 655px;
    height: 540px;
}

.triangle.md {
    width: 300px;
    height: 300px;
}

.triangle.sm {
    width: 175px;
    height: 175px;
}

.triangle.fg {
    z-index: 1;
}
